/* This code is made by Anneshu Nag, Student ID: 2210994760 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway&display=swap");

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  width: 100vw;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  background-color: red;
  color: #fff;
}

.navbar ion-icon {
  margin-right: 10px;
  color: white;
  font-size: 30px;
}

.links {
  display: flex;
  text-decoration: none;
  align-items: center;
  background: red;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  margin: 20px;
  text-align: center;
}

img {
  max-width: 100%;
  height: 100vh;
}

input[type="submit"] {
  background-color: #ff4d4d;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  width: 100%;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #ff3333; 
}

.flex {
  display: flex;
  justify-content: center;
}

.card {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 1000px;
}

.likebutton {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.likebutton:hover {
  background-color: #2980b9;
}

.text-center {
  text-align: center;
}
